@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf) format("ttf"), local("Roboto");
}

@font-face {
    font-family: "Roboto-Italic";
    src: url(../fonts/Roboto-Italic.ttf) format("ttf"), local("Roboto");
}


h1 {
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    font-size: 60px;
    font-weight: 900;
    font-style: normal;
    line-height: 72px;
    padding-bottom: 30px;
    padding-top: 50px;
}

h2, h3, h4, h5 {
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
    padding-bottom: 30px;
}

p, a {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    padding-bottom: 30px;
}


.container {
    max-width: 1080px;
    padding: 0 30px;
    margin: 0 auto;
}

.header__block {
    width: 1140px;
    height: 215px;
    background: #F1F1F1;
    border-radius: 10px;
    margin-bottom: 20px;
}

.header__list-title {
    padding: 25px 0 20px 0;
    font-size: 44px;
}

.header__item {
    margin-left: 15px;
}

.header__list-link {
    color: #02515e;
    margin-bottom: 25px;
}

.first__block-1 {
    width: 1080px;
    position: relative;
    list-style: none;
    padding-bottom: 60px;
}

.first__img-1 {
    background: url(../img/4_cats.png) no-repeat;
    position:absolute;
    width: 560px;
    height: 415px;
    top:0px;
    left:0px;
}

.first__text-1 {
    width: 490px;
    margin-left: 590px ;
    padding-bottom: 30px;
}

.first__block-2 {
    width: 1080px;
    position: relative;
    list-style: none;
    padding-left: 0;
}

.first__img-2 {
    background: url(../img/cat_first.png) no-repeat;
    position:absolute;
    width: 560px;
    height: 415px;
    top: 0px;
    right:0px;
}

.first__text-2 {
    width: 480px;
    height: 72px;
    margin-right: 590px ;
    padding-bottom: 30px;
}

.second__img-1 {
    background: url(../img/second_large.png) no-repeat;
    width: 1079px;
    height: 537px;
    padding-bottom: 30px;
}

.second__img-2 {
    display: block;
    margin: 0 auto;
    background: url(../img/second_small.png) no-repeat;
    width: 601.44px;
    height: 449px;
    text-align: center;
    padding-bottom: 30px;
}

.second__img-3 {
    background: url(../img/second_wide.png) no-repeat;
    width: 1077px;
    height: 427px;
}

.second__img-block {
    border: 1px solid #000000;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.second__text-block {
    padding: 15px 30px 15px 30px;
    color: #5E5E5E;
}

.second__img-4 {
    display: block;
    margin: 0 auto;
    background: url(../img/second_container.png) no-repeat;
    width: 966.11px;
    height: 164px;
    padding-bottom: 30px;
}

.second__img-5 {
    display: block;
    margin: 0 auto;
    background: url(../img/second_cat.png) no-repeat;
    width: 1024.05px;
    height: 504px;
    padding-bottom: 30px;
}

.third__img {
    padding-bottom: 30px;
}

.third__img-1 {
    display: block;
    margin: 0 auto;
    background: url(../img/third-1.png) no-repeat;
    width: 600px;
    height: 600px;
}

.third__img-2 {
    display: block;
    margin: 0 auto;
    background: url(../img/third-2.png) no-repeat;
    width: 600px;
    height: 600px;
}

.third__img-3 {
    background: url(../img/third-3.png) no-repeat;
    width: 1080px;
    height: 530px;
    padding-bottom: 0;
}

.third__img-4 {
    background: url(../img/third-4.png) no-repeat;
    width: 1080px;
    height: 530px;
}

.third__img-5 {
    background: url(../img/third-5.png) no-repeat;
    width: 1080px;
    height: 88px;
}

.third__img-6 {
    display: block;
    margin: 0 auto;
    background: url(../img/third-6.png) no-repeat;
    width: 806px;
    height: 475px;
}

.third__img-7 {
    display: block;
    margin: 0 auto;
    background: url(../img/third-7.png) no-repeat;
    width: 317px;
    height: 110px;
}

.third__img-8 {
    display: block;
    margin: 0 auto;
    background: url(../img/third-8.png) no-repeat;
    width: 500px;
    height: 383px;
}

.end__block {
    width: 1140px;
    height: 376px;
    background: #F1F1F1;
    border-radius: 10px;
    margin-bottom: 30px;
}

.end__title {
    padding: 25px 30px 19px;
}

.end__list {
    list-style: none;
    padding-bottom: 30px;
}

.end__list li::before {
    content:  "—";
    position: relative;
    left:     -7px;
}

.end__item {
    margin-bottom: 9px;
}

.end__text {
    padding: 0 29px 22px 31px;
}



