@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf) format("ttf"), local("Roboto");
}

@font-face {
    font-family: "Roboto-Italic";
    src: url(../fonts/Roboto-Italic.ttf) format("ttf"), local("Roboto");
}


.header__title {
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    font-size: 60px;
    font-weight: 900;
    font-style: normal;
    line-height: 72px;
    margin-bottom: 30px;
}

h2, h3, h4, h5 {
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
    margin-bottom: 30px;
}

p, a {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 30px;
}


.container {
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header__text {
    margin-bottom: 30px;
}

.header__block {
    width: 1140px;
    height: 215px;
    background: #F1F1F1;
    border-radius: 10px;
    margin-bottom: 20px;
}


.header__list-title {
    padding: 25px 0 0 40px;
    font-size: 44px;
    margin-bottom: 20px    ;
}

.header__item {
    margin-left: 15px;
    padding-bottom: 10px;
}

.header__list-link {
    color: #02515e;
    margin-bottom: 25px;
}

.first__block-1 {
    width: 1080px;
    min-height: 415px;
    padding-bottom: 30px;
}

.first__img-1 {
    width: 560px;
    height: 415px;
    float: left;
}

.first__text-1 {
    margin-left: 590px;
    width: 490px;
    min-height: 48px;
}

.first__block-2 {
    width: 1080px;
    margin-bottom: 50px;
}

.first__img-2 {
    float: right;
}

.first__text-2 {
    width: 480px;
    min-height: 72px;
    margin-right: 600px;
}

.second__text {
    margin-bottom: 30px;
}

.second__img-1 {
    margin-bottom: 30px;
}

.second__img-2 {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.second__img-3 {
    margin-bottom: 15px;
}

.second__img-block {
    border: 1px solid #000000;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.second__text-block {
    padding-left: 30px;
    color: #5E5E5E;
    margin-bottom: 15px;
}

.second__img-4 {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.second__img-5 {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.third__text {
    margin-bottom: 30px;
}

.third__img-1 {
    display: block;
    margin: 0 auto;
}

.third__img-2 {
    display: block;
    margin: 0 auto;
}


.third__img-6 {
    display: block;
    margin: 0 auto;
}

.third__img-7 {
    display: block;
    margin: 0 auto;
}

.third__img-8 {
    display: block;
    margin: 0 auto;
}

.third__img {
    margin-bottom: 30px;
}

.end__block {
    width: 1140px;
    height: 376px;
    background: #F1F1F1;
    border-radius: 10px;
    margin-bottom: 30px;
}

.end__title {
    font-size: 44px;
    line-height: 120%;
    padding-top: 25px;
    padding-left: 30px;
    margin-bottom: 19px;
}

.end__list {
    list-style: none;
    margin-bottom: 29px;
}

.end__list li::before {
    content:  "—";
    position: relative;
    left:     -7px;
}

.end__item {
    margin-bottom: 9px;
}

.end__text {
    padding-left: 30px;
    margin-bottom: 22px;
}



